.nav {
    display: flex;
    justify-content: space-around;
    font-size: 1.3rem;
}


.img {
    width: 50px;
    height: 50px;
    border-radius: 50%;

}

.col-ring {
    color: rgb(193, 48, 230);
}

@media screen and (max-width: 450px) {
    .nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 576px) {
    .nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

}

.cards {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.navs a {
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
    font-weight: bold;
}